body {
    background-image: url('../assets/register-bg.png');
    /* -webkit-filter: blur(8px);
    filter: blur(8px); */
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #383838;
    }


* {
    box-sizing: border-box;
}