.item {
	padding: 9px 15px;
	border-radius: 5px;
	margin-bottom: 6px;
	cursor: pointer;

	&:hover {
		background: #0c4fded4;
		color: #fff;
		transition: 0.3s linear;
	}

	&--active {
		@extend .item;
		background: #0c4dde;
		color: #fff;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		text-decoration: none;
		color: inherit;

		&__icon {
			width: 24px;
		}

		&__text {
			font-size: 20px;
		}

		&__badge {
			background-color: #ff5c5c;
			border-radius: 1rem;
			padding: 2px 6px;
			color: #ffffff;
			font-size: 1rem;
		}
	}
}
