.top{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 28px;
    &__logo{
        height: 40px;
    }
    &__lang{
        height: 28px;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.4rem 0.6rem;
    }
}