.item {
	padding: 20px 24px;
	border-bottom: 1px solid #e3e4f1;
	display: grid;
	grid-template-columns: 24px auto 20px;
	gap: 24px;
	cursor: pointer;

	&__title {
		font-family: 'Josefin Sans', sans-serif;
		margin: 0;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.4;
		letter-spacing: -0.25px;
		color: #494c6b;
	}

	&__delete {
		width: 20px;
		height: 20px;
		border: none;
		cursor: pointer;
		display: none;
		background-color: transparent;
		padding: 0;
		margin: 0;
	}

	&[data-checked='true'] > &__title {
		text-decoration-line: line-through;
		color: #d1d2da;
	}

	&:hover > &__delete {
		display: inline-block;
	}
}
