.checkbox{
    width: 24px;
    height: 24px;
    padding: 1px;
	background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
	border-radius: 12px;
	cursor: pointer;
    &__check{
        width: 100%;
        height: 100%;
        background-image: url('../../../public/assets/icon-check.svg');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 11.5px;
        &[data-checked='false']{
            background-color: #fff;
        }
    
    }
}
